:root {
	--item-width: 200px;

	--row-width: 1000px;
	--gap: 5px;
	--button-width: 40px;
}

body {
	margin: 0;
	padding: 0;

	font-family: arial;
}

#table {
	display: grid;
	width: 1000px;
	margin: 0 auto;
	padding: var(--gap);
	gap: var(--gap);
}

.row {
	user-select: text;
	display: grid;
	padding: var(--gap);
	gap: var(--gap);
	width: fit-content;
	background: #c3f5b3;
	border-radius: 5px;
}

.row > .enemy-name {
	grid-column: 1/3;
	grid-row: 1;

	background: #e8f7c3;
	font-weight: bold;
	padding: 0 var(--gap);
}
.row > .items {
	grid-column: 2;
	grid-row: 2;
}
.row > .kills {
	grid-column: 1;
	grid-row: 2;

	display: grid;
	gap: var(--gap);
}
.row > .filters {
	grid-column: 3;
	grid-row: 1/3;
}

.items {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
}

.item {
	display: grid;
	min-width: var(--item-width);
	justify-content: space-between;
	align-items: center;
	background: rgb(250,250,250);
	gap: var(--gap);
	padding: var(--gap);
	border-radius: 5px;
}

[class*="count"] {
	color: green;
	background: white;
	font-size: 1.5em;
	text-shadow: 0 0 2px lime;
	height: var(--button-width);
	line-height: var(--button-width);
	text-align: center;
	padding: 0 var(--gap);
}

[class*="count"]:hover {
	cursor: pointer;
}

.kill-count {
	align-self: center;
}

.item > .count {
	grid-column: 1;
	grid-row: 2;
}

.item > .buttons {
	grid-row: 2;
}

.item .rate {
	color: #535353;
	font-style: italic;
}

.buttons {
	display: flex;
	gap: var(--gap);
}

.buttons button {
	font-size: 200%;
}

button {
	width: var(--button-width);
	height: var(--button-width);

	border: none;
	outline: none;
	padding: 0;
	margin: 0;

	border-radius: 5px;

	user-select: none;
}

button:hover {
	cursor: pointer;
	outline: 1px solid black;
	background: #ddd;
}

button:active {
	transform: scale(0.9);
}

#search {
	display: none;
	font-size: 4em;
	width: 50%;
	position: fixed;
	top: 20px;
	left: 50%;
	translate: -50%;

	z-index: 1000;
}

#raw-display {
	display: none;
	position: fixed;

	background: white;
	border: 1px solid black;

	/*top: 20px;
	left: 20px;*/
	/*width: calc(100% - 40px);
	height: 50%;*/
    inset: 20px 20px 50% 20px;

	z-index: 666;
}

#raw-display button.close {
	position: absolute;
	top: var(--gap);
	right: var(--gap);
}

#raw-display button.close::before {
	content: "X";
}

#raw-display pre {
	word-wrap: break-word;
	display: block;
	position: absolute;
	inset: var(--gap) calc(var(--button-width) + var(--gap) * 2) var(--gap) var(--gap);
	overflow: auto;
	margin: 0;
}

#top button[class] {
	width: fit-content;
	padding: var(--gap);
	float: right;
}

#top button.reset {
	color: red;
	float: left;
}
